---
const { title, author, cover, alt, href, loading, width, height } = Astro.props;
import { Image } from 'astro:assets';
---
<article class="relative flex flex-col justify-between bg-zinc-900 hover:bg-zinc-800 rounded-xl focus-within:outline-2 focus-within:outline-offset-2 overflow-hidden ease-in-out">
    <Image src={cover} alt={alt} class="rounded-md rounded-b-none object-cover aspect-[3/2]" width={width} height={height} loading={loading} />
    <div class="flex flex-col gap-4 p-4">
        <h3 class="font-extrabold text-zinc-50 capitalize">{title}</h3>
        <p class="text-sm">Author: {author}</p>
        <a href={href} class="absolute inset-0 opacity-0">SEO Link</a>
    </div>
</article>